{% extends "base.html" %} {% block content %} 
{% load static %} 

<section style="background: url('{% static "images/iphone4.jpg" %}'); 
background-size: cover;  
background-position: center;
background-position: 0px 53%;
position: absolute; 
top: 53px; 
left: 0; 
right: 0; 
bottom: 0;">
<style>
  h2 {
    font-size: 30px;
  }
  p {
    margin: auto;
    text-align: center;
    margin-top: 5px;
    .helptext{
      display: block;
    }
  }
  form {
    font-size: 30px;
  }
  button {
    font-size: 20px;
  }
  a {
    margin-top: 10px;
  }
</style>
<div style="margin-top: 0vh; transform: translate(0, 50%);" class="bg">
<h2>Register</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }} <button type="submit">Sign Up</button>
</form>
</div>
</section>
{% endblock %}