{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}EzSearch{% endblock %}</title>
    {% block head %} 
    <style>
      h1 {
      a, a:active, a:visited {
      text-decoration: none;
      color: black;
       &:hover {
          transform: 5px, 5px;
          color: blue;
      }}}
      header, nav {
        display: flex;
        gap: 10px;
      }
      header {
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        margin-top: -15px;
      }
      main {
        padding: 0px 50px; 
      }
      footer {
        padding: 0px 50px;
      }

    </style>
    {% endblock %}
  </head>
  <body>
    <header>
      <h1><a href="{% url 'home' %}">EzSearch</a></h1>
      <nav>
        {% if user.is_authenticated %}
        <a href="{% url 'new_post' %}">New Post</a>
        <a href="{% url 'search' %}">Search</a>
        <a href="{% url 'posts' %}">Saves</a>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Sign Up</a> {% endif %}
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer><p>&copy; 2025 EzSearch</p></footer>
  </body>
</html>
