{% extends "base.html" %} {% block content %} {% load static %}

<section style="background: url('{% static "images/background2.jpg" %}'); 
background-size: cover;  
background-position: center; 
position: absolute; 
top: 65px; 
left: 0; 
right: 0; 
bottom: 0;">
<style>
  h2 {
    margin: auto;
    text-align: center;
    margin-top: 10px;
  }
  p {
    margin-left: 30px;
    margin-top: 5px;
  }
  form {
    margin: auto;
    text-align: center;
    gap: 5px;
  }
  header {
    background-color: cornflowerblue;
  }
  body {
    margin: 0px;
  }
</style>

<h2>My Saves</h2>

{% if posts %}
<ul>
  {% for post in posts %}
  <li>
    <a href="{% url 'post' id=post.id %}">{{post.title}}</a>
    <h5>Created on: {{post.date|date:"F j, Y"}}</h5>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No posts yet.</p>
{% endif %}

<p><a href="{% url 'new_post' %}">Create New Post</a></p>

</section>{% endblock %}