{% extends "base.html" %} {% block content %} {% load static %}

<section style="background: url('{% static "images/background2.jpg" %}'); 
background-size: cover;  
background-position: center; 
position: absolute; 
top: 53px; 
left: 0; 
right: 0; 
bottom: 0;">
<style>
  p {
    margin-left: 30px;
    margin-top: 5px;
  }
  h5 {
    margin-top: 7px;
    color: midnightblue;
  }
  ul {
    .text {
      color: black;
    }
    font-size: 27px;
  }
  .noresults {
    margin: auto;
    text-align: center;
    margin-top: 25px;
  }
</style>
<div style="margin-top: 15px;">
<h2>My Saves</h2>

{% if posts %}
<ul>
  {% for post in posts %}
  <li>
    <a href="{% url 'post' id=post.id %}" class="text">{{post.title}}</a>
    <h5>Created on: {{post.date|date:"F j, Y"}}</h5>
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="noresults">No posts yet.</p>
{% endif %}

</section> </div>{% endblock %}