{% extends "base.html" %} {% block content %} {% load static %}

<section style="background: url('{% static "images/background3.jpeg" %}'); 
background-size: cover;  
background-position: center; 
position: absolute; 
top: 53px; 
left: 0; 
right: 0; 
bottom: 0;">
<style>
  p {
    margin: auto;
    text-align: center;
    margin-top: 5px;
  }
  form {
    .button {
      font-size: 20px;
    }
  }
</style>
<div style="margin-top: 5vh; transform: translate(0, 50%);" class="bg">
<h2>Create a New Post</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }} <button type="submit" class="button">Save</button>
</form>
</section></div> {% endblock %}
