{% extends "base.html" %} {% block content %} {% load static %}

<style>
  h2 {
    font-size: 40px;
  }
  p {
    margin: auto;
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
  }
  body {
    background-color: beige;
  }
  form {
    .button {
      color: black;
      background-color: lightgray;
      font-size: 20px;
    }
  }
  input {
    font-size: 25px;
  }
  div {
    color: dimgray;
  }
  li {
    a, a:visited {
      color: royalblue;
    }
  }
  .title {
    margin-bottom: 11px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    }
</style>
<h2>EzSearch</h2>
<form method="post">
  {% csrf_token %}
  <input type="search" name="q" placeholder="Search here" />
  <button type="submit" class="button">Search</button>
</form>
{% if results %}
<h1 class="title">Search Results</h1>
<ul>
  {% for item in results %}
  <li>
    <a href="{{item.url}}">{{item.title}}</a>
    <div>{{item.description|safe}}</div>
    <img width="40px" src="{{item.profile.img}}" alt="{{item.title}}" />
    {% if "saved" in item %}
    <input type="checkbox" checked disabled />
    {% else %}
    <form method="post" style="display: inline">
      {% csrf_token %}
      <input type="hidden" name="title" value="{{item.title}}" />
      <input type="hidden" name="url" value="{{item.url}}" />
      <input type="hidden" name="description" value="{{item.description}}" />
      <button type="submit" name="save">Save</button>
    </form>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No results.</p>
{% endif %} </section> {% endblock %}